.blog_post_bg_img {
  background-repeat: repeat;
  background-image: url(http://punksjumpup.co.uk/support/skins/shop/img/bg-pattern.jpg);
  width: 100%;
  margin: auto;
  position: absolute;
  height: 100%;
  background-attachment: fixed;
  -webkit-filter: invert(75%);
}

#feature .blog_post_content {
  margin: 0 0 150px !important;
}

small.time_since_blogpost_posted {
  background-color: #fff;
  position: relative;
  top: -175px;
  padding: 5px;
  font-size: 20px;
}

#feature article.blog_post_mb {
  min-height: 0;
  margin: 0 0 150px 0;
}