/*---------------------------------------------------------*/
/* Cross Browser Compatibility */
/*---------------------------------------------------------*/

/*Firefox Compatibility*/

@-moz-document url-prefix() {
    .selfie_1 {
        width: 450px;
        position: absolute;
        bottom: 0;
        z-index: -1;
        -webkit-clip-path: circle(50% at 50% 75%);
        clip-path: circle(50% at 50% 50%);
        -webkit-filter: grayscale(100%) brightness(175%);
        filter: grayscale(100%) brightness(175%);
    }

    #firefox_selfie {
        position: absolute;
        bottom: 0;
        margin: -7px;
        display: block;
    }

    #all_browsers_but_ff_selfie {
      display: none;
    }

    .primary-navigation__inner-item:focus {
      outline: none;
    }

    #feature .title_wrapper {
      position: relative;
      bottom: 100px;
      padding: 15px 20px 5px;
    }

    #feature .current_project_title {
      font-size: 20px;
    }
}